@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("fonts/UbuntuMono-Regular.ttf");
}

* {
  font-family: "Ubuntu";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

h1 {
  margin: 0;
}

body {
  height: 100%;
  padding: 0 2rem;
}

body > header > h1 {
  padding-top: 2rem;
}

main > header {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

main > section > ul {
  margin-top: 1rem;
}

main > section > div {
  margin: 0.25rem 0;
}

section > div.subject {
  padding-top: 0.4rem;
}

footer {
  color: rgb(139, 139, 139);
  position: fixed;
  bottom: 2rem;
  left: 2rem;
}

footer > a {
  color: rgb(139,139,139);
}

ul {
  padding-inline-start: 1rem;
}

.year {
  font-weight: 600;
  text-decoration: underline;
  margin-bottom: 0.2rem;
}
